body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #333;
    /* color: #fff; */
    padding: 10px;
}

.content,
.password-impact {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
    font-size: 24px;
}

p,
li {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Times New Roman", serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: -webkit-sticky;
    bottom: 0px;
    width: 100%;
}

a:hover {
    text-decoration: dashed;
}
