body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.wpb_text_column {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Times New Roman", serif;
}

a {
    color: #ffffff;
}

a:hover {
    text-decoration: dashed;
}

.password-examples,
.cracking-passwords {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-family: "Arial", sans-serif;
}

.good-password,
.bad-password,
.cracking-passwords,
.characteristics {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-family: "Times New Roman", serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

html {
    scroll-behavior: smooth;
}
